
@font-face {
    font-family: 'Khmer OS Siemreap';
    src: url('fonts/khmer/Khmer%20OS%20Siemreap%20Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.language_kh {
    font-family: 'Khmer OS Siemreap', sans-serif;
}


/* Formation Datatable */
/* div.dataTables_wrapper div.dataTables_scrollBody {
    min-height: 480px;
} */
.iframe_viewer{
    width: 100%;
    min-height: 700px;
}

/* attribute required and * in label */
label.required:after {
    content: " *";
    color: red;
}
.no-footer tfoot {
    display: none;
}
/* .dataTables_scrollBody .no-footer thead tr{
    display: none;
} */
.dataTables_scrollBody thead {
    visibility: hidden !important;
    height: 0 !important;
}
/* Apply rounded-0 to pagination buttons */
.dataTables_paginate .pagination .page-item .page-link {
    border-radius: 0 !important; /* Remove rounded corners */
}
.dataTables_paginate .pagination .page-item.active .page-link {
    background-color: #007bff; /* Example: Bootstrap primary color */
    color: #fff;
    border-color: #007bff;
}
.dataTables_paginate .pagination .page-item .page-link:hover {
    background-color: #0056b3; /* Darker shade on hover */
    color: #fff;
}
.dataTables_processing {
    display: none !important;  /* Hide the processing overlay */
}
.selectgroup-input:checked+.selectgroup-button {
    border-color: #1572e8;
    z-index: 1;
    color: #1572e8;
    background: rgba(21, 114, 232, .15);
}
.selectgroup-input:checked[value="N"]+.selectgroup-button {
    border-color: #dc3545;
    z-index: 1;
    color: #dc3545;
    background: rgba(220, 53, 69, .15);
}

.attachment-preview-container {
    position: relative;
    display: none; /* Initially hide the container */
    margin-top: 10px;
}
.attachment-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.attachment-preview-container:hover .attachment-preview-overlay {
    opacity: 1;
}
.delete-btn {
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    display: none; /* Initially hide the delete button */
}
